{% extends 'base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Главная</h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Наша продукция</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Гаджеты</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                        <li>- Смартфоны</li>
                        <li>- Планшеты</li>
                        <li>- Ноутбуки</li>
                        <li>- Персональные компьютеры</li>
                    </ul>
                    <div class="d-grid gap-2 col-10 mx-auto">
                        <a href="{% url 'catalog:product_list' %}" type="button" class="btn btn-lg btn-block btn-success">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Не нашли, то что искали?</h4>
                </div>
                <div class="card-body" >
                    <h1 class="card-title pricing-card-title">Свяжитесь с нами</h1>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{% url 'catalog:contacts' %}" type="button" class="btn btn-lg btn-block btn-info">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}