{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {% if object %}
                        <h3 class="card-title text-center">Изменить продукт</h3>
                        {% else %}
                        <h3 class="card-title text-center">Добавить продукт</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if object %}
                        <div class="d-grid gap-2 col-6 m-2 mx-auto">
                            <button type="submit" class="btn btn-lg btn-block btn-success">Изменить</button>
                        </div>
                        {% else %}
                        <div class="d-grid gap-2 col-6 m-2 mx-auto">
                            <button type="submit" class="btn btn-lg  btn-center btn-success">Создать</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 col-6 m-2 mx-auto">
                            {% if product %}
                            <a href="{% url 'catalog:product_detail' product.pk %}" type="submit"
                               class="btn btn-lg btn-block btn-danger mt-1">Отмена</a>
                            {% else %}
                            <a href="{% url 'catalog:product_list' %}" type="submit"
                               class="btn btn-lg btn-block btn-danger mt-1">Отмена</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if object %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Версии продукта</h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                        <hr class="border border-success border-3 opacity-100">
                        <hr class="border border-primary border-3 opacity-100">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 col-6 m-2 mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}